@charset "UTF-8";
@font-face {
  font-family: "D2Coding";
  src: url("../assets/D2Coding-Ver1.3.2-20180524-all.ttc");
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/RobotoMono-VariableFont_wght.ttf");
}